* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #ffffff;
  background: #000000;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  padding: 24px;
}

table {
  max-width: 900px;
}
