* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: oklch(98.5% 0 0);
  background: oklch(14.5% 0 0);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  padding: 24px;
}

table {
  max-width: 900px;
}

table,
tr,
td {
  border: 1px solid oklch(26.9% 0 0);
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 8px 12px;
}

tr.unmatched {
  background: oklch(25.8% 0.092 26.042);
}

th {
  text-align: left;
}
